<template>
  <v-layout class="mb-5" column align-center justify-center>
    <div class="d-md-none text-h4 pb-2">{{ $t('pages.blog.title') }}</div>
    <div class="d-none text-h2 pb-4 mt-0 d-md-block">
      {{ $t('pages.blog.title') }}
    </div>
    <nothing-yet />
  </v-layout>
</template>

<script>
import NothingYet from '~/components/NothingYet'
export default {
  components: {
    NothingYet,
  },
}
</script>
