<template>
  <v-row>
    <v-col cols="12" sm="6" offset-sm="3">
      <v-card flat>
        <v-container fluid>
          <v-row>
            <v-col
              v-for="(category, index) in list"
              :key="index"
              class="d-flex child-flex"
              cols="6"
            >
              <v-btn
                primary
                nuxt-link
                :to="localePath(`/blog?topics=${category}`)"
                >{{ category }}</v-btn
              >
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      required: true,
    },
  },
}
</script>
