<template>
  <v-flex xs12 sm8 md4 class="text-center mb-8">
    <v-img
      srcset="/fox-600w.jpg 600w,
              /fox-1000w.jpg 1000w,
              /fox-1920w.jpg 1920w"
      sizes="only screen and (max-width: 800px) 600px,
             only screen and (min-width: 801px) and (max-width: 1200px) 1000px,
             1920px"
      src="/fox-1000w.jpg"
      class="mb-4"
      max-height="600px"
      :alt="$t('pages.blog.images.captions.waiting')"
    ></v-img>
    <div class="font-weight-bold py-4">
      {{ $t('pages.blog.waiting') }}
    </div>
    <v-btn primary nuxt-link to="/">
      {{ $t('buttons.back') }}
    </v-btn>
  </v-flex>
</template>

<script>
export default {}
</script>
