<template>
  <v-app>
    <v-main fluid fill-height>
      <v-app-bar flat>
        <v-btn
          text
          class="pl-0 ml-0 pl-1 text-uppercase heading-2"
          @click="$router.push('/')"
        >
          tjsturos.com
        </v-btn>
        <v-spacer />
        <v-btn
          v-if="$i18n.locale === 'en'"
          text
          nuxt-link
          :to="switchLocalePath('fi')"
        >
          {{ $t('links.finnish') }}
        </v-btn>
        <v-btn v-else nuxt-link :to="switchLocalePath('en')" text>
          {{ $t('links.english') }}
        </v-btn>
      </v-app-bar>
      <v-container fluid fill-height class="px-9 py-1">
        <nuxt />
      </v-container>
    </v-main>
    <v-footer padless class="py-2 mt-9 d-flex justify-center">
      <span>Tyler Sturos &copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {}
  },
}
</script>
<style>
a:link {
  text-decoration: none;
  color: black;
}
</style>
