<template>
  <v-layout class="mb-5" column align-center justify-center min-height="1000px">
    <v-flex xs12 sm8 md4 class="text-center">
      <v-img
        srcset="/header-480w.jpg 480w,
                /header-800w.jpg 800w,
                /header-1000w.jpg 1000w,
                /header-1920w.jpg 1920w"
        sizes="only screen and (max-width: 480px) 480px,
               only screen and (min-width: 601px) and (max-width: 1000px) 800px,
               only screen and (min-width: 1001px) and (max-width: 1400px) 1000px,
               only screen and (min-width: 1401px) 1920px"
        src="header-1000w.jpg"
        class="mb-4"
        :alt="$t('pages.index.images.captions.header')"
      ></v-img>
      <div>
        <div class="text-h5 font-weight-thin pb-5">
          {{ $t('pages.index.greeting') }}
        </div>
        <p class="text-heading-5 font-weight-bold">
          {{ $t('pages.index.about_this_website') }}
        </p>
        <gallery :list="topics" />
        <p class="text-heading-5">
          {{ $t('pages.index.contact_me') }}
        </p>
      </div>
      <v-btn class="text-heading-5 secondary">
        {{ $t('buttons.contact_me') }}
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import Gallery from '~/components/Gallery'

export default {
  components: {
    Gallery,
  },
  computed: {
    topics() {
      return [
        this.$t('topics.art'),
        this.$t('topics.tech'),
        this.$t('topics.thoughts'),
        this.$t('topics.other'),
      ]
    },
  },
}
</script>
